.body {
  display: flex;
  flex-direction: row;
  background-color: pink;
}

.column {
  display: flex;
  flex-direction: column;
  width: 33%;
  padding: 10px;
}

.row {
  display: flex;
  flex-direction: column;
  padding: 2px;
}

.button {
  background-color: violet;
}

.box {
  background-color: rgb(231, 185, 236);

}


#positions {
  border: 1px solid black;
  height: 75px;
}

#activeOrders {
  border: 1px solid black;
  height: 150px;
}

#orderBook {
  height: 125px;
}
